# -------------------------
# Python / Virtual Env
# -------------------------
venv/
.venv/
env/
ENV/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Generated data
# -------------------------
metrics/
plots/
output_videos/
temp_keyframes/

# -------------------------
# Videos & media
# -------------------------
*.mp4
*.avi
*.mov
*.mkv

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

/.DS_Store